<li>
  <p>Company name: <%= developer.company_name %></p>
  <p>Country: <%= developer.country %></p>
  <p>Year founded: <%= developer.year_founded %></p>
  <a href="/developers/<%= developer.id %>"><button>Open</button></a>
  <form
    action="/developers/<%= developer.id %>/delete"
    method="POST"
    style="display: inline"
  >
    <button type="submit">Delete developer</button>
  </form>
  <a href="/developers"><button>Developers</button></a>
</li>
