<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <p>Title: <%= game.title %></p>
    <p>Genre: <%= game.genre_name %></p>
    <p>Developer: <%= game.company_name %></p>
    <p>Release date: <%= new Date(game.release_date).toLocaleDateString() %></p>
    <p>Rating: <%= game.rating %></p>
    <button>Delete game</button>
    <a href="/"><button>Go back home</button></a>
  </body>
</html>
